# Zephyr standard build directory
build/

# Zephyr/West cached files
.west/
*.d
*.obj
*.su

# Python virtual environment
.venv/
__pycache__/

# VSCode settings (only ignore local IDE state, keep settings.json if needed, but safe to ignore cache)
.vscode/.browse.c_cpp.db
.vscode/ipch/
.vscode/c_cpp_properties.json

# OS specific files
.DS_Store
Thumbs.db
CAN_Messages - Sheet1.csv
18-449_649 Lab2 - Sensors and Actuators v1_0.pdf
